body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background-color: #f7f7f7;
}

.logo {
    background-image: url("/images/logo.png");
    background-position: center;
    width: 200px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.article > img {
    height: 100%;
}