<div class="navbar">
    <div class="logo"></div>
    <form action="/search-results" method="post">
        <label>Search</label>
        <input name="name"/>
        <button type="submit">Go</button>
    </form>

    <a href="/">Home</a>
    <a href="/email">Most emailed Stories</a>
    <a href="/top">Top stories from today</a>
</div>