{{#each listOfArticles}}
    <div class="article">
        <div class="text">
            <a href="{{this.url}}"><h2>{{this.title}}</h2></a>
            <p>{{this.abstract}}</p>
        </div>
        <img src="{{this.media.0.media-metadata.1.url}}">
    </div>
    <br>
{{/each}}